.app {
  composes: row from "../../styles/shared.css";
  height: 100%;
}

.sidebar {
  float: left;
  width: 300px;
  height: 100%;
  padding: 10px 0;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 2px;
}

.sidebar::-webkit-scrollbar-track {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #999;
}

.content {
  float: left;
  width: calc(100% - 300px);
  padding: 0 20px;
}
